#item_container {
    display: flex;
    align-items: center;
    gap: 1vh;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    padding: 1vh;
    padding-right: 7vh;
    border-radius: 1vh;
    position: relative;
}

#item_container[disable="false"]:hover {
    border: 0.5vh solid var(--white);
    cursor: pointer;
}

#item_container img, #item_container svg {
    height: 100%;
}

#item_container svg {
    width: 25%;
}

#item_container #options_container {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    gap: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    padding-right: 0;
}

#item_container #add_favorite_item, #item_container #remove_item {
    cursor: pointer;
}

#item_container #add_favorite_item:hover {
    fill: lightcoral;
}

#item_container h2 {
    font-size: 1.4vh;
}

#item_container p {
    font-size: 1.2vh;
}