#item_container {
    display: flex;
    align-items: center;
    gap: 1vh;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    padding: 1vh;
    padding-right: 7vh;
    border-radius: 1vh;
    position: relative;
}

#item_container[disable="false"]:hover {
    border: 0.5vh solid var(--white);
    cursor: pointer;
}

#item_container img {
    height: 100%;
}

#item_container #remove_item {
    position: absolute;
    right: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2vh;
}

#item_container h2 {
    font-size: 1.4vh;
}

#item_container p {
    font-size: 1.2vh;
}