@import "tailwindcss";

:root {
  --green: #1ED760;
  --black: #121212;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--black);
  color: var(--white);
  font-family: sans-serif, Helvetica, Arial;
}

button {
  background-color: var(--green);
  color: var(--black);
  padding: 1.7vh;
  width: 100%;
  border-radius: 1vh;
  box-shadow: 0.5vh 0.5vh rgba(30, 215, 96, 0.5);
  margin-bottom: 0.5vh;
  margin-right: 0.5vh;
}

button:not(:disabled):hover {
  cursor: pointer;
  box-shadow: none;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  font-weight: bold;
}

input {
  background-color: var(--white);
  border-radius: 1vh;
  color: var(--black);
  padding-left: 1vh;
  height: 80%;
}

#login_container {
    width: 50vh;
    height: 50vh;
    box-shadow: rgba(256, 256, 256, 0.35) 0px 5px 15px;
    padding: 7vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#login_container img {
  width: 25%;
}

#login_container h1 {
  font-size: 2vh;
}

#login_container h2 {
  font-size: 1.75vh;
}
