@import "tailwindcss";

:root {
  --green: #1ED760;
  --black: #121212;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--black);
  color: var(--white);
  font-family: sans-serif, Helvetica, Arial;
}

button {
  background-color: var(--green);
  color: var(--black);
  padding: 1.7vh;
  width: 100%;
  border-radius: 1vh;
  box-shadow: 0.5vh 0.5vh rgba(30, 215, 96, 0.5);
  margin-bottom: 0.5vh;
  margin-right: 0.5vh;
}

button:not(:disabled):hover {
  cursor: pointer;
  box-shadow: none;
  margin-bottom: 0;
  margin-right: 0;
}

input {
  background-color: var(--white);
  border-radius: 1vh;
  color: var(--black);
  padding-left: 1vh;
  height: 80%;
}
