#dashboard_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard_container > button {
    width: 5%;
    height: 10vh;
}

#dashboard_container > button img, #options_playlist button img  {
    height: 100%;
}

#dashboard_container > fieldset {
    width: 30%;
    height: 80vh;
    margin-right: 2vh;
    position: relative;
}

#widgets_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 59%;
    height: 85vh;
    gap: 2vh;
    margin-left: 2vh;
}

#first_line, #second_line {
    display: flex;
    width: 100%;
    height: 50%;
    gap: 2vh;
}

#options_playlist {
    position: absolute;
    display: flex;
    bottom: -8vh;
    right: 0;
    gap: 2vh;
    height: 6.5vh;
}

#options_playlist button {
    width: 6.5vh;
}

fieldset {
    border: 0.5vh solid var(--green);
    border-radius: 2vh;
    box-sizing: border-box;
    padding: 2vh;
    width: 100%;
    height: 100%;
}

legend {
    color: var(--green);
    font-weight: bold;
}