#dashboard_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard_container > button {
    width: 5%;
    height: 10vh;
}

#dashboard_container > button img, #options_playlist button img  {
    height: 100%;
}

#dashboard_container > fieldset {
    width: 30%;
    height: 80vh;
    margin-right: 2vh;
    position: relative;
}

#widgets_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 59%;
    height: 85vh;
    gap: 2vh;
    margin-left: 2vh;
}

#first_line, #second_line {
    display: flex;
    width: 100%;
    height: 50%;
    gap: 2vh;
}

#first_line > fieldset {
    width: 35%;
}

#first_line > fieldset:last-of-type {
    width: 30%;
}

#second_line fieldset {
    width: 100%;
}

#options_playlist {
    position: absolute;
    display: flex;
    bottom: -8vh;
    right: 0;
    gap: 2vh;
    height: 6.5vh;
}

#options_playlist button {
    width: 6.5vh;
}

fieldset {
    border: 0.5vh solid var(--green);
    border-radius: 2vh;
    box-sizing: border-box;
    padding: 2vh;
    height: 100%;
}

legend {
    color: var(--green);
    font-weight: bold;
}

@media (max-width: 1000px) {
  #dashboard_container {
    flex-direction: column;
    gap: 1vh;
  }
  #dashboard_container > fieldset {
    width: 90%;
    margin: 0;
    margin-bottom: 10vh;
  }
  #dashboard_container > button {
    width: 25%;
  }
  #widgets_container {
    width: 90%;
    margin: 0;
    height: fit-content;
  }
  #first_line, #second_line {
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  #first_line > fieldset {
    width: 100%;
  }
  #first_line > fieldset:last-of-type {
    width: 100%;
  }
  fieldset {
    width: 100%;
    margin: 0;
    height: 30vh;
  }
}