#widgets_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 75vh;
    gap: 5%;
}

fieldset {
    border: 0.5vh solid var(--green);
    border-radius: 2vh;
    padding: 2vh;
    width: 45%;
    height: 50%;
}

legend {
    color: var(--green);
    font-weight: bold;
}