#login_container {
    width: 50vh;
    height: 50vh;
    box-shadow: rgba(256, 256, 256, 0.35) 0px 5px 15px;
    padding: 7vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#login_container img {
  width: 25%;
}

#login_container h1 {
  font-size: 2vh;
}

#login_container h2 {
  font-size: 1.75vh;
}

@media (max-width: 1000px) {
  #login_container {
    width: 40vh;
  }
}