#tracks_select_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1vh;
}

#search {
    display: flex;
    gap: 2vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#search button {
    width: fit-content;
}

#search input {
    width: 97%;
}

#search_results {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    box-shadow: rgba(256, 256, 256, 0.35) 0px 5px 15px;
    border-radius: 1vh;
    width: 97%;
    height: 40vh;
    position: absolute;
    right: 0;
    top: 100%;
    overflow: auto;
    z-index: 10;
}

#selected_tracks {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}