#popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup_container {
    width: 50vh;
    height: fit-content;
    box-shadow: rgba(256, 256, 256, 0.35) 0px 5px 15px;
    padding: 7vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2vh;
    background-color: var(--black);
}

#popup_container h1 {
  font-size: 2vh;
}